*{
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

.text-primary{
  color: #ffffff !important;
}

.bg-primary{
  background-color: black !important;
}

.bg-danger{
  background-color: #DD3C3C !important;
}

.btn-success {
  background-color: green !important;
  border-color: green !important;
  color: #ffffff !important;
}

.btn-success:hover{
  background-color: #ffffff !important;
  border-color: green !important;
  color: #264653 !important;
}

.btn-danger:hover{
  background-color: #ffffff;
  border-color: #DD3C3C;
  color: #DD3C3C;
}

.alert-success{
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}