*{
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

body {     background-image: linear-gradient(to bottom, #020a17, #0c1421, #111c2b, #172336, #1c2b41, #1c2b40, #1b2b40, #1b2b3f, #162332, #111b26, #0a131a, #00060d);     background-size: cover;     background-repeat: no-repeat;     background-attachment: fixed;     height: 100%;     margin: 0;   }

.text-primary{
  color: #ffffff !important;
}

.card {
  background-color: #0c1421;
}

.text-center{
  color: white;
}

.bg-primary{
  background-color: black !important;
}

.bg-danger{
  background-color: #DD3C3C !important;
}

.btn-success {
  background-color: green !important;
  border-color: green !important;
  color: #ffffff !important;
}

.btn-success:hover{
  background-color: #ffffff !important;
  border-color: green !important;
  color: #264653 !important;
}

.btn-danger:hover{
  background-color: #ffffff;
  border-color: #DD3C3C;
  color: #DD3C3C;
}

.alert-success{
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}